{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
  <link rel="stylesheet" href="{% static 'Css/style.css' %}"/> 
</head>
<body>
  <nav>
    <div class="logo-name">
      <a href="{% url 'dashboardAdmin' %}" class="logo_name">RAG WEB UI</a>
    </div>
    <div class="menu-items">
      <ul class="nav-links">
        <li><a href="{% url 'knowladge' %}">
          <i class="uil uil-desktop-alt"></i>
          <span class="link-name">Knowladge Base</span>
        </a></li>
        <li><a href="{% url 'chat' %}">
          <i class="uil uil-comment-alt"></i>
          <span class="link-name">Chat</span>
        </a></li>
        <li><a href="{% url 'api' %}">
          <i class="uil uil-user"></i>
          <span class="link-name">API Keys</span>
        </a></li>
      </ul>
    </div>
    <a href="{% url 'logout' %}">Ini logout</a>
  </nav>
  <!-- <nav>
    <div class="logo-name">
      <a href="dashboard.php" class="logo_name">RAG WEB UI</a>
    </div>
    <div class="menu-items">
      <ul class="nav-links">
        <li><a href="knowladge.php">
          <i class="uil uil-desktop-alt"></i>
          <span class="link-name">Knowladge Base</span>
        </a></li>
        <li><a href="chat.php">
          <i class="uil uil-comment-alt"></i>
          <span class="link-name">Chat</span>
        </a></li>
        <li><a href="api.php">
          <i class="uil uil-user"></i>
          <span class="link-name">API Keys</span>
        </a></li>
      </ul>
    </div>
  </nav>  -->
  <section class="dashboard">
    <div class="dash-content">
      <div class="breadcrumb">
        <i class="uil uil-estate"></i>
        <span class="separator">›</span>
        <a href="{% url 'dashboardAdmin' %}" class="breadcrumb-item">Dashboard</a>
      </div>
     </div>
    <div class="box-container">
        <div class="box box1">
            <h3>Knowladge Asistant</h3>
            <p>Your personal AI-powered knowladge hub. Upload documents, create 
              knowladge bases, and get instant answers through natural conversations </p>
              <button onclick="location.href='knowladge.html'">
              <i class="uil uil-plus"></i> New Knowledge Base
              </button>
        </div>
    </div>
    <div class="box-container">
        <div class="box2">
          <div class="box-content">
            <i class="uil uil-book-alt"></i>
            <div class="text">
            <h3>0</h3>
            <p>Knowledge Bases</p>
          </div>
        </div>
        <button onclick="location.href='knowladge.php'">
        View all new knowledge base <i class="uil uil-arrow-right"></i>
        </button>
    </div>
    <div class="box3">
      <div class="box-content">
        <i class="uil uil-comment-alt"></i>
        <div class="text">
          <h3>0</h3>
          <p>Chat sessions</p>
        </div>
      </div>
      <button onclick="location.href='halaman-baru.php'">
      view all chat sessions <i class="uil uil-arrow-right"></i>
      </button>
      </div>
    </div>  
      <div class="quick-access-section">
          <h3>Quick Actions</h3>
      </div>
      <div class="box-container">
      <a href="halaman-tujuan.html" class="box4-link">
        <div class="box4">
          <div class="box-content">
            <i class="uil uil-brain"></i>
            <div class="text">
               <h3>Create Knowledge Base</h3>
                <p>Build a new AI-powered knowledge repository</p>
            </div>
          </div>
        </div>
      </a>
      <a href="halaman-tujuan.html" class="box4-link">
        <div class="box5">
          <div class="box-content">
            <i class="uil uil-upload"></i>
            <div class="text">
               <h3>Upload Documents</h3>
                <p>Add PDF,DOCX, MD or TXT files to your knowledge base</p>
            </div>
          </div>
        </div>
      </a>
      <a href="halaman-tujuan.html" class="box4-link">
        <div class="box6">
          <div class="box-content">
            <i class="uil uil-comment-plus"></i>
            <div class="text">
               <h3>Start Chatting</h3>
                <p>Get instant answers from your knowledge with AI</p>
            </div>
          </div>
        </div>
      </a>
  </div>
  </section>
</body>
</html>
