{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <!-- Panggil file CSS eksternal -->
  <link rel="stylesheet" href="{% static 'Css/Login.css' %}" />
</head>
<body>
  <div class="container">
    <header>
      <img src="{%  static 'IMG/lambang-jakarta-timur.png' %}" alt="Logo" />
      <h2>Selamat Datang Kembali</h2>
    </header>

    <div class="form-box">
      <h1>Login</h1>
      <!-- <?php if ($error): ?>
        <div class="error"><?= $error ?></div>
      <?php endif; ?> -->
      <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Masuk</button>
      </form>

      {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
      <p>Belum punya akun? <a href="{% url 'register' %}">Daftar</a></p>
    </div>
  </div>
</body>
</html>
